 #create-player-form, #create-battingStats-form,  #create-pitchingStats-form{
    display: flex;
    flex-direction: column;
    background-color: Blue;
}

input {
    height: 100px;
    width: 80%;
    margin: 0 auto;
    font-size: 40px;
}

h3 {
    font-size: 40px;
    color: white;
    margin: 0 auto;
    padding-top: 5%;
}
/*
.delete {
    height: 80px;
}

main {
    margin: 5px;
}

.hide {
    display: none;
}

.content-container{
    display: flex;
    height: 250px;
}

.content-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 33%;
    flex-direction: column;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    height: 70px;
  }
  li a {
    text-decoration: none;
    color: white;
  }

  nav {
    background-color: black;
  }
  
  #show-player-container {
    width: 500px;
    height: 500px;
  }
  */

  .delete {
    position: relative;
    top: -800px;
  }

  #show-player-container {
    position: absolute;
    top: 0px;
    left: 0px;
  }